<body>
    <header>
<!-- <div class="first-div">
    <p><a href="/contact">Contacto</a></p>
    <p><a href="/about">Sobre mi</a></p>
</div> -->
<div class="sec-div">
    <a href="/"><p class="p-logo">JCM</p></a>
    <P class="header-title">Joel Casa Marquez</P>
    <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>
    <div class="nav-header_contain">
            <ul class="nav-header">
                <li class="nav-header__li"><a href="/projets">Proyectos</a></li>
                <li class="nav-header__li"><a href="/cv">Curriculums</a></li>
                <li class="nav-header__li"><a href="/about">Sobre mi</a></li>
                <li class="nav-header__li"><a href="/contact">Contacto</a></li>
            </ul>
      
    
    </div>
</div>

    </header>
    
