<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-general">
    <div class="image-404">
        <img src="/img/error404.png" alt="Error 404">
    </div>
</main>



    <%- include('./partials/footer') %>