<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-general">
   <h1>El mensaje ha sido enviado exitosamente</h1>

   <ul>
    <li><a href="/">Volver al inicio</a></li>
    <li><a href="/contact">Enviar otro mensaje</a></li>
   </ul>
</main>



    <%- include('./partials/footer') %>