/*d56630*/naranja



* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*/////////////header/////////////////*/
.first-div{
    display: none;
}

.sec-div{
    align-items: center;
    background-color:rgba(21,21,21,0.96);
    display: flex;
    height: 80px;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
.p-logo{
    align-items: center;
    background-color: #d56630 ;
    border-radius: 100px;
    display: flex;
    color: white;
    justify-content: center;
    font-size: 25px;
    height: 50px;
    width: 65PX;
}
.header-title{
    color: white;
    font-size: 25px;
}

.burguer-menu i{
    color : #d56630;
    font-size: 25px;
   
    

}
.sec-div{
    position: relative;
}
.nav-header_contain{
    top: 64px;
    position: absolute;
    width: 78%;
    display: none;
    z-index: 1;
}
.burguer-menu{
    transition: all 1s;
}


.burguer-menu:hover + .nav-header_contain{
    display: block;   
}

.nav-header{
    background-color: rgba(21,21,21,0.96);
    border-top :1px solid #d56630;
 
}

.nav-header__li{
  
    list-style: none;
    padding-bottom: 20px;
    margin-top: 20px;
}

.nav-header__li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
    
}
@media (min-width: 768px) {
.first-div{
    display: flex;
    background-color: #21211f;
    height: 50px;
    margin-bottom: 0px;
    padding-right: 96px;
    padding-top: 5px;
    margin-top: 0px;
    justify-content: end;
    align-items: center;


}
.first-div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 5px;
    
  
}
.first-div p{
    margin:0px;
    margin-bottom: 5px;
}






}